* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  background-image: url(wp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #f9fafc;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65); /* gelapin */
  z-index: -1;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 380px;
  padding: 20px;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.links a {
  text-decoration: none;
  color: white;
  background: #334155;
  padding: 14px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.2s ease;
}

.links a:hover {
  background: #475569;
  transform: translateY(-2px);
}

footer {
  margin-top: 25px;
  font-size: 12px;
  opacity: 0.5;
}

.font {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;

  font-style: normal;
}
.fontbg {
  background-color: #475569;
  border-radius: 20%;
}
.containerimg {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links i {
  font-size: 18px;
}
